
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-background: #f0f1f3;
$color-white: #ffffff;
$color-border: #bdc6ca;
$color-accent-light: #f0f8f8;
$color-idle: #adadad;

$unit-1: 8px;
$unit-2: 16px;
$unit-3: 24px;
$unit-4: 32px;

$h1: 2.4em;
$h2: 1.6em;