
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $color-background;
}

.table {
  background-color: $color-white;
  border: 1px solid $color-border;
  padding: $unit-1 0px;

  &__header {
    padding: $unit-1 $unit-2;
  }

  &__header-name {
    font-size: $h2;
  }

  &__row {
    padding: $unit-1 $unit-2;
  }

  &__row--header {
    font-weight: bold;
    border-bottom: 1px solid $color-border;
  }

  &__row--hover:hover {
    background-color: $color-accent-light;
  }

  &__cell {
    padding: 0px $unit-1;
  }
  &__cell:first-of-type {
    padding-left: 0px;
  }
  &__cell:last-of-type {
    padding-right: 0px;
  }
}

.tree {
  padding-left: $unit-2;
  border-left: solid 1px $color-border;
}

.block {
  background-color: $color-white;
  border: 1px solid $color-border;
  padding: $unit-2;
  margin: 0px $unit-1;

  &__title {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: $unit-2;
  }
}

.block:first-of-type {
  margin-left: 0px;
}
.block:last-of-type {
  margin-right: 0px;
}

.flexbox {
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }
}

.flex {
  flex-grow: 1;
}

.link {
  &--transparent, &--transparent:hover, &--transparent:visited, &--transparent:active {
    color: inherit;
    text-decoration: none;
  }
}

.text-right {
  text-align: right
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.idle {
  color: $color-idle;
}